doctype html
html(class="no-js", lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= title
    meta(name="description", description=description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

    style.
      .content {
        margin:25px 0 0px 25px;
        background-color:#fff;
        padding: 20px;
      }

    style#css!= css
  body
    #app!= body
    script(src=entry)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js")
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','#{trackingId}','auto');ga('send','pageview')
    script.
        const id = document.getElementById('hidden-info').getAttribute('data-id');
        console.log(id);
        $.get('/foobar/' + id, (res) => {
            console.log(res);
            var date = new Date(res.publishedAt);
            var dateString = date.toLocaleDateString() + ' ' + date.toLocaleTimeString();

            React.render(React.DOM.div({className:'content'}, [
              React.DOM.h2({className:'newsTitle'}, res.title),
              React.DOM.a({href: res.url}, "Read More"),
              React.DOM.div({className:'article-date'}, dateString),
              React.DOM.h6({className: 'newsDesc'}, res.description)
            ]), document.getElementById('article-container'));
            
            React.render(React.DOM.div({className:'content'}, [
              React.DOM.p({href: res.url}, "I am going to be --- COMMENT THREAD!!!"),
              React.DOM.a({href: res.url}, "Meow"),
              React.DOM.p({href: res.url}, "Meow"),
              React.DOM.a({href: res.url}, "Meow"),
              React.DOM.a({href: res.url}, "Meow"),
              React.DOM.a({href: res.url}, "Meow"),
            ]), document.getElementById('comment-container'));

        });

    if trackingId
      script(src="https://www.google-analytics.com/analytics.js", async=true, defer=true)
