doctype html
html(class="no-js", lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= title
    meta(name="description", description=description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style.
      .newsItem {
        list-style-type: none;
        height: 100%;
        background-color: #fff;
        padding-left: 0;
        padding: 20px 24px;
        border-bottom: 2px solid #f6f6f6;
      }

    style#css!= css
  body
    #app!= body
    script(src=entry)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js")
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','#{trackingId}','auto');ga('send','pageview')
    script.
        const id = document.getElementById('hidden-info').getAttribute('data-id');

        $.get('/foobar/' + id, (res) => {
            var date = new Date(res.publishedAt);
            var dateString = date.toLocaleDateString() + ' ' + date.toLocaleTimeString();

            React.render(React.DOM.div(null, [
              React.DOM.h1(null, res.title),
              React.DOM.div(null, dateString),
              React.DOM.p(null, res.description),
              React.DOM.a({href: res.url}, "Link")
            ]), document.getElementById('article-container'));
        });

    if trackingId
      script(src="https://www.google-analytics.com/analytics.js", async=true, defer=true)
