doctype html
html(class="no-js", lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= title
    meta(name="description", description=description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="NewsRepo-icon", href="../img/favicon-32.ico")
    link(href='../public/css/style.css', rel='stylesheet')
    style.
      .newsDesc {
        line-height: 1.5em;
        height: 4.5em;
        overflow: auto;
        margin: 5px 0 0;
        color: #777;
        display: block;
      }
      .newsItem {
        list-style-type: none;
        height: 100%;
        background-color: #fff;
        padding-left: 0;
        padding: 20px 24px;
        border-bottom: 2px solid #f6f6f6;
      }
      .newsItem h2 {
        max-width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      li {
        list-style-type: none;
      }

    style#css!= css
  body
    #app!= body
    script(src=entry)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js")
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','#{trackingId}','auto');ga('send','pageview')
    script.
        $.getJSON('/news', (res) => {
            console.log(res);
            var list = res.map(function(r) {
                return React.DOM.li({className: 'newsItem'}, [
                    React.DOM.h2({className: ''}, React.DOM.a({className: ''}, r.title)),
                    React.DOM.p({className: 'newsDesc'}, r.desc)
                ]);
            });
            React.render(React.DOM.ul({className: ''}, list), document.getElementById('mainnews'));
        });

    if trackingId
      script(src="https://www.google-analytics.com/analytics.js", async=true, defer=true)
